/* MAIN STYLES */

main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;

    /* DIMENSIONS */
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

main h1 {
    /* DISPLAY AND POSITION */
    align-self: center;
    justify-self: center;

    /* DIMENSIONS */
    margin: 25px 0px 8px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 30vw;
    color: var(--main-yellow);
    font-family: var(--title-font);
}

main h2 {
    /* DISPLAY AND POSITION */

    /* DIMENSIONS */
    margin: 10px 0px;
    padding: 0 10px;

    /* COLORS AND OTHER STYLES */
    color: var(--blue-gray);
    background-color: var(--main-yellow);
    font-family: var(--main-font);
}

 main p {
    /* DISPLAY AND POSITION */
    text-align: left;

    /* DIMENSIONS */
    width: 90%;
    margin: 10px 0px;
    padding: 0 10px;

    /* COLORS AND OTHER STYLES */
    font-family: var(--content-font);
}

main section {
    /* DISPLAY AND POSITION */
    display:flex;
    flex-direction: column;

    /* DIMENSIONS */
    width: 90%;

    /* COLORS AND OTHER STYLES */
    
}

.course-name {
    /* DISPLAY AND POSITION */
    align-self: flex-start;
    text-align: center;

    /* DIMENSIONS */
    width: 100%;
    margin: 10px 0px;
    padding: 0 10px;

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    color: var(--main-yellow);
    font-size: 2rem;
}

#certificates-section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    margin: 10px 0;
    width: 100%;
    

    /* COLORS AND OTHER STYLES */
    
}

#certificates-rail {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

    /* DIMENSIONS */
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

.certificate {
/* DISPLAY AND POSITION */
display: flex;
flex-direction: column;
align-items: center;

/* DIMENSIONS */
min-width: 100vw;
width: 100vw;

/* COLORS AND OTHER STYLES */
}

.certificate a {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */
    }

#see-certificates {
    /* DIMENSIONS */
    padding: 3px 10px;
    margin-top: 10px;

    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-family: var(--main-font);
    font-weight: 1000;
}





/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 760px) {
    main h1 {
        font-size: 15vw;
    }

    main p {
        width: 70%;
    }

    .certificate {
        min-width: 50vw;
        max-width: 50vw;
    }

    .course-name {
        align-self: center;
        justify-self: center;
        max-width: 80%;
        margin: 10px auto;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {

    main h1 {
        font-size: 10vw;
    }

    main p {
        width: 50%;
        font-size: 2rem;
    }

    #certificates-rail {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        margin:25px 0px
    }

    .certificate {
        min-width: 33.33vw;
        max-width: 33.33vw;
    }

}

/* BIG DESKTOP */
@media (min-width: 1400px) {

    .certificate {
        min-width: 25vw;
        max-width: 25vw;
    }

}