/* MAIN STYLES */

main {
    padding-top: 60px;
}

.grid-container {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    /* DIMENSIONS */
    /* padding-top: 25px; */
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

.grid-container > h1 {
    /* DISPLAY AND POSITION */
    align-self: center;
    justify-self: center;

    /* DIMENSIONS */
    margin: 25px 0px 0px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 30vw;
    color: var(--main-yellow);
    font-family: var(--title-font);
}

.grid-container > h2 {
    /* DISPLAY AND POSITION */
    align-self: center;
    text-align: center;

    /* DIMENSIONS */
    margin: 10px 0px;
    padding: 5px 10px;

    /* COLORS AND OTHER STYLES */
    color: var(--blue-gray);
    background-color: var(--main-yellow);
    font-family: var(--main-font);
    font-weight: 400;
}

.description {
    /* DISPLAY AND POSITION */
    text-align: left;

    /* DIMENSIONS */
    width: 90%;
    margin: 10px 0px;
    padding: 0 10px;

    /* COLORS AND OTHER STYLES */
    font-family: var(--content-font);
}

.grid-container > section {
    /* DISPLAY AND POSITION */
    display:flex;
    flex-direction: column;

    /* DIMENSIONS */
    width: 90%;

    /* COLORS AND OTHER STYLES */
    
}

#certificates-section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    margin: 10px 0;
    width: 100%;
    

    /* COLORS AND OTHER STYLES */
    
}

#certificates-rail {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

    /* DIMENSIONS */
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

.certificate {
/* DISPLAY AND POSITION */
display: flex;
flex-direction: column;
align-items: center;

/* DIMENSIONS */
min-width: 100vw;
width: 100vw;

/* COLORS AND OTHER STYLES */
}

.certificate > a {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */
}

.certificate > a > img {
    border: 6px solid var(--blue-gray);
    border-radius: 100px;
    transition-property: border;
    transition-duration: 0.2s;
}
.certificate > a > img:hover {
   border: 6px solid var(--main-yellow);
}

.course-name {
    /* DISPLAY AND POSITION */
    align-self: flex-start;
    text-align: center;

    /* DIMENSIONS */
    width: 100%;
    margin: 10px 0px;
    padding: 0 10px;

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    color: var(--main-yellow);
    font-size: 2rem;
}





/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 760px) {
    .grid-container h1 {
        font-size: 15vw;
    }

    .description {
        width: 70%;
    }

    .certificate {
        min-width: 50vw;
        max-width: 50vw;
    }

    .course-name {
        align-self: center;
        justify-self: center;
        max-width: 80%;
        margin: 10px auto;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .grid-container h1 {
        grid-column: 1/4;
        font-size: 10vw;
    }

    .grid-container > h2 {
        text-align: center;
        justify-self: center;
        width: 100%;
    }

    .description {
        text-align: justify;
        align-self: center;
        justify-self: center;
        width: 70%;
        font-size: 2rem;
    }

    #h2-me{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #h2-work{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #h2-expertise{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    #h2-education{
        margin-top: 40px;
        width: 33;
        grid-row: 4/5;
        grid-column: 1/4;
    }

    #p-education {
        justify-self: center;
        width: 33%;
        grid-column: 1/4;
    }

    #certificates-section {
        grid-column: 1/4;
    }

    #certificates-rail {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        margin:25px 0px
    }

    .certificate {
        min-width: 33.33%;
        max-width: 33.33%;
    }

}

/* BIG DESKTOP */
@media (min-width: 1400px) {

    .grid-container h1 {
        font-size: 5.5vw;
    }

    #p-education {
        width: 25%; 
    }

    .certificate {
        min-width: 25%;
        max-width: 25%;
    }
}