/* MAIN STYLES  */
main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
}

main section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    width: 90%;

    /* COLORS AND OTHER STYLES */
}

#go-back-button {
    /* DISPLAY AND POSITION */
    align-self: flex-start;

    /* DIMENSIONS */
    margin: 20px 0 20px 20px;
    padding: 3px 10px;
    

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-weight: 1000;
}

main h1 {
    /* DISPLAY AND POSITION */
    align-self: center;
    justify-self: center;
    text-align: center;

    /* DIMENSIONS */
    margin: 25px 0px 8px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 8vw;
    color: var(--main-yellow);
    font-family: var(--main-font);
}

#article-date {
    /* DISPLAY AND POSITION */
    

    /* DIMENSIONS */
    

    /* COLORS AND OTHER STYLES */
    font-weight: 500;
    font-family: var(--main-font);
}

#ownership {
    /* DISPLAY AND POSITION */
    

    /* DIMENSIONS */
    margin: 10px 0 30px 0;

    /* COLORS AND OTHER STYLES */
    font-weight: 500;
    font-family: var(--main-font);
    color: var(--main-yellow);
}

article {
    /* DISPLAY AND POSITION */
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    width: 90%;

    /* COLORS AND OTHER STYLES */
}
article p {
    /* DISPLAY AND POSITION */
    text-align: justify;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
}





/******************************************************/
/* MEDIA QUERIES */
/******************************************************/


/* TABLET */
@media (min-width: 760px) {
    #main--picture-section img {
        max-width: 40vw;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    #main--picture-section {
        max-width: 400px;
        position: absolute;
        top: 100px;
        left: 60vw;
    }

    #main--picture-section img {
        max-width: 400px;
    }

    main h1 {
        z-index: 2;
        text-shadow: 3px 1px 0px var(--blue-gray);
        text-align: start;
        font-size: 5vw;
        margin-top: 100px;
    }

    #article-date {
        align-self: flex-start;
    }

    #ownership {
        align-self: flex-start;
    }

    article {
        max-width: 60vw;
        margin: 100px 0px;
        font-size: 2rem;
    }

    article p {
        text-align: start;
    }

    article p:nth-child(2) {
        width: 500px;
    }

}