/* MAIN STYLES  */
main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    padding-top: 60px;

    /* COLORS AND OTHER STYLES */
}


.article_section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    width: 90%;

    /* COLORS AND OTHER STYLES */
}

.article_picture {
    margin-top: 25px;
}

.article_picture__img {
    max-width: 300px;
}

.article_title {
    /* DISPLAY AND POSITION */
    align-self: center;
    justify-self: center;
    text-align: center;

    /* DIMENSIONS */
    margin: 25px 0px 8px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 8vw;
    color: var(--main-yellow);
    font-family: var(--main-font);
}

#article-date {
    /* DISPLAY AND POSITION */
    

    /* DIMENSIONS */
    

    /* COLORS AND OTHER STYLES */
    font-weight: 500;
    font-family: var(--main-font);
}

#ownership {
    /* DISPLAY AND POSITION */
    

    /* DIMENSIONS */
    margin: 10px 0 30px 0;

    /* COLORS AND OTHER STYLES */
    font-weight: 500;
    font-family: var(--main-font);
    color: var(--main-yellow);
}

article {
    /* DISPLAY AND POSITION */
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    width: 90%;

    /* COLORS AND OTHER STYLES */
}
article > p {
    /* DISPLAY AND POSITION */
    text-align: justify;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
}





/******************************************************/
/* MEDIA QUERIES */
/******************************************************/


/* TABLET */
@media (min-width: 450px) {
    .article_picture__img {
        /* max-width: 40vw; */
        max-height: 300px;
        max-width: unset;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    .article_picture {
        position: absolute;
        top: 125px;
        right: 15vw;
    }

    .article_picture__img {
        max-height: unset;
        height: 300px;
    }

    .article_title {
        z-index: 2;
        text-shadow: 3px 1px 0px var(--blue-gray);
        text-align: start;
        font-size: 5vw;
        margin-top: 100px;
    }

    #article-date {
        align-self: flex-start;
    }

    #ownership {
        align-self: flex-start;
    }

    article {
        max-width: 60vw;
        margin: 100px 0px;
        font-size: 2rem;
    }

    article > p {
        text-align: start;
    }

    article > p:nth-child(2) {
        width: 500px;
    }

}

/* BIG DESKTOP */
@media (min-width: 1440px) {
    .article_picture__img {
        height: 400px;
    }
}

/* 4K */
@media (min-width: 2560px) {
    .article_picture__img {
        height: 500px;
    }
    article > p {
        font-size: 3rem;
    }
}