.arrow {
    filter: invert(1);
    transform: rotate(180deg);
    transition: transform 0.2s;
}

main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;

    /* DIMENSIONS */
    padding-top: 60px;
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

main h1 {
    /* DISPLAY AND POSITION */
    align-self: center;

    /* DIMENSIONS */
    margin: 33px 0px 0px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 17vw;
    color: var(--main-yellow);
    font-family: var(--title-font);
}

h2 {
    /* DISPLAY AND POSITION */
    align-self: center;
    text-align: center;

    /* DIMENSIONS */
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;

    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-family: var(--main-font);
}

.certificates-table {
    /* DISPLAY AND POSITION */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    justify-self: stretch;
    flex-grow: 1;

    /* DIMENSIONS */
    margin: auto 0;
    width: 90%;
    max-height: 50vh;
    padding-right: 10px;

    /* COLORS AND OTHER STYLES */
    
    
}

.platzi-course-section {
    /* DISPLAY AND POSITION */
    grid-column: 1/5;
    text-align: center;

    /* DIMENSIONS */
    padding: 10px 0;
    margin: 5px 0;

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    border-radius: 20px;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}
.courses_list{
    /* DISPLAY AND POSITION */
    grid-column: 1/5;
    overflow-y: hidden;

    /* DIMENSIONS */
    width: 100%;

    /* COLORS AND OTHER STYLES */ 

    /* MOVEMENT */
    transition: max-height 0.5s;
}
.course-container {
    /* DISPLAY AND POSITION */
    grid-column: 1/5;
    display: grid;
    align-items: center;

    /* DIMENSIONS */
    margin: 2px 10px;

    /* COLORS AND OTHER STYLES */ 
}

.course-container a {
    /* DISPLAY AND POSITION */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.397);
    border: 3px solid rgba(128, 128, 128, 0);
    transition-property: border;
    transition-duration: 0.2s;
}

.course-container a:hover {
    border: 3px solid var(--main-yellow);
}


.course-icon {
    /* DISPLAY AND POSITION */
    grid-column: 1/2;
    justify-self: center;
    align-self: center;

    /* DIMENSIONS */
    padding: 2px 0;
    width: 50px;

    /* COLORS AND OTHER STYLES */
}

.course-name {
    /* DISPLAY AND POSITION */
    grid-column: 2/5;
    align-self: center;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    user-select: none;
    
}






/******************************************************/
/* MEDIA QUERIES */
/******************************************************/






/* TABLET */
@media (min-width: 450px) {
    main h1 {
        font-size: 15vw;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {

    main {
        min-height: 100vh;
    }

    main h1 {
        font-size: 10vw;
        width: 90%;
    }

    .certificates-table {
        width: 60%;
        max-height: 95vh;
        
    }

}

/* BIG DESKTOP */
@media (min-width: 1400px) {

    main h1 {
        font-size: 5.5vw;
        width: 90%;
    }

    .certificates-table {
        width: 50%;

    }

}