main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
}

main h1 {
    /* DISPLAY AND POSITION */
    align-self: center;
    justify-self: center;
    text-align: center;

    /* DIMENSIONS */
    width: 95%;
    margin: 20px 0px 8px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 8vw;
    color: var(--main-yellow);
    font-family: var(--main-font);
}

#go-back-button {
    /* DISPLAY AND POSITION */
    align-self: flex-start;

    /* DIMENSIONS */
    margin: 20px 0 0 20px;
    padding: 3px 10px;
    

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-weight: 1000;
}

#click-picture {
    /* DISPLAY AND POSITION */

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
}

h2 {
    /* DISPLAY AND POSITION */
    align-self: center;
    text-align: center;

    /* DIMENSIONS */
    width: 100%;
    padding: 5px 0;
    margin: 25px 0;

    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-family: var(--main-font);
}

#about-course {
    /* DISPLAY AND POSITION */
    align-self: center;
    text-align: justify;

    /* DIMENSIONS */
    width: 80%;

    /* COLORS AND OTHER STYLES */
    font-family: var(--content-font);
}