/* MODIFYNG RADIO BUTTONS */

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: center;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
}

input[type="radio"]:hover + *::before {
    background: radial-gradient(var(--main-yellow-darker) 0%, var(--main-yellow-darker) 40%, transparent 50%, transparent);
    border-color: var(--main-yellow-darker);
}

input[type="radio"]:checked + *::before {
    background: radial-gradient(var(--main-yellow) 0%, var(--main-yellow) 40%, transparent 50%, transparent);
    border-color: var(--main-yellow);
}
input[type="radio"]:checked + * {
    color: var(--main-yellow);
}

/* MAIN STYLES */

main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    flex-grow: 1;

    /* DIMENSIONS */
    padding-top: 60px;
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

#instructions {
    /* DISPLAY AND POSITION */
    align-self: center;

    /* DIMENSIONS */
    width: 90%;
    margin: 10px 0 10px 0;

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
}

#form_container {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;

    /* DIMENSIONS */
    width: 90%;
}

.form_container__input {
    padding: 10px 0px;
}

.contact_title {
    /* DISPLAY AND POSITION */
    text-align: left;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    font-size: 1.3rem;
    font-family: var(--main-font);
    color: var(--main-yellow);
}

.input_text {
    width: 100%;
    margin-top: 5px;
    font-family: var(--main-font);
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    padding: 5px 15px;
    outline: none;
}

.radio_container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.radio_label {
    user-select: none;
}

#message-input {
    resize: none;
    height: 85px;
    font-family: var(--main-font);
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    padding: 5px 15px;
    outline: none;
}

#btnSendEmail {
    margin-bottom: -10px;
}




/******************************************************/
/* MEDIA QUERIES */
/******************************************************/






/* TABLET */
@media (min-width: 450px) {
    .input_text {
        font-size: 1.6rem;
    }

    #instructions {
        text-align: center;
    }

    #form_container {
        
        width: 70%;
    }

    #message-input {
        height: 150px;
        font-size: 1.6rem;
    }
    .contact_title {
        font-size: 1.6rem;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {

    .input_text {
        font-size: 2.2rem;
    }

    #form-container {
        width: 60%;
    }

    .contact_title {
        font-size: 2.2rem;
    }

    .radio_container {
        justify-content: flex-start;
    }

    .radio_button {
        margin-right: 20px;
    }

    #message-input {
        height: 150px;
        font-size: 2rem;
    }

}

/* BIG DESKTOP */
@media (min-width: 1400px) {

    #form_container {
        width: 50%;
    }

}