/* FOOTER STYLES */

footer {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    /* DIMENSIONS */
    height: 80px;
    margin-top: 20px;
    
    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    font-weight: bold;
    color: var(--blue-gray);
    font-family: var(--main-font);
    border: var(--blue-gray) solid 10px;
}

.copyright {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: center;
}

.copyright__line-1 {
    display: flex;
    align-items: center;
}

.copyright span {
    text-align: center;
    align-self: center;
    font-family: var(--content-font);
    font-size: 1.2rem;
    color: var(--blue-gray);
}

.copyright span:first-child {
    font-size: 1.6rem;
}

.social_media__link {
    font-family: var(--content-font);
    color: var(--blue-gray);
    font-size: 1.2rem;
}

.social_media__link:hover {
    text-decoration: underline;
}

/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 760px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
    .social_media__link {
        font-size: 1.6rem;
    }
    .copyright span:first-child {
        font-size: 2rem;
    }
    .copyright span {
        font-size: 1.6rem;
    }
}