/* FOOTER STYLES */

footer {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    /* DIMENSIONS */
    height: 80px;
    margin-top: 20px;
    
    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    font-weight: bold;
    color: var(--blue-gray);
    font-family: var(--main-font);
    border: var(--blue-gray) solid 10px;
}

footer div {
    /* DISPLAY AND POSITION */
    display: flex;
}

footer span {
    text-align: center;
    align-self: center;
    font-family: var(--content-font);
    font-size: 1.4rem;
    color: var(--blue-gray);
}

footer div span:first-child {
    font-size: 2rem;
}




/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 760px) {
    footer {
        flex-direction: row;
    }
}