/* FOOTER STYLES */

footer {
    /* DISPLAY AND POSITION */
    display: flex;
    justify-content: space-around;
    align-items: center;
        
    /* DIMENSIONS */
    height: 100px;
    margin-top: 20px;
    
    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    font-weight: bold;
    color: var(--blue-gray);
    font-family: var(--main-font);
}

#footer--social-media-section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* COLORS AND OTHER STYLES */
    color: inherit;
}

#footer--logo-contact-section a {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* COLORS AND OTHER STYLES */
    color: var(--blue-gray);
    font-weight: bolder;
    font-size: 1.2rem;
}






/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 760px) {
    footer {
        justify-content: center;
        height: 80px;
    }
    
    #footer--social-media-section {
        margin-right: 50px;
        flex-direction: row;
    }

    #footer--social-media-section p {
        margin-right: 20px;
    }

    #footer--social-media-section div a {
        margin: auto 5px;
    }

    #footer--logo-contact-section {
        margin-left: 50px;
        flex-direction: row;
    }

    #footer--logo-contact-section a {
        flex-direction: row;
    }

    #footer--logo-contact-section a p {
        font-size: 1.6rem;
        margin-left: 10px;
    }
}