/* VARIABLES */

:root {
    /*FONTS*/
    --name-font: 'Fredericka the Great';
    --main-font: 'Montserrat';
    --content-font: 'Roboto';
    --title-font: 'Josefin Sans';

    /*COLORS*/
    --main-yellow: #ead017;
    --main-yellow-darker:#706f38;
    --light-gray: #9D8D8F;
    --light-brown: #9B786F;
    --strong-gray: #5A5560;
    --blue-gray: #212136;
    --blue-gray-darker: #1a1a2e;
    --blue-gray-transparent: #212136f1; 

    --navigation-timeline-level-1: #bda913;
    --navigation-timeline-level-2: #8d7e0e;
    --navigation-timeline-level-3: #665b0a;
    --navigation-timeline-level-3: #4b4307;
}

/* BASE STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    min-width: 320px;
}

::-webkit-scrollbar {
  width: 15px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-gray-darker);
  /* border-radius: 100px; */
  /* margin: 50px 0px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-yellow);
  border: 1px solid var(--blue-gray-darker)
  /* border-radius: 100px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0ac16;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--main-yellow-darker);
}
    
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    min-width: 320px;
    min-height: 100vh;
    

    background-color: var(--blue-gray);
    color: white;
    font-family: 'Roboto';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* CLASSES */

.navigation_timeline {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 25px;
}

.navigation_timeline__level {
  padding: 3px 15px;
  font-family: var(--content-font);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition-property: border padding-left;
  transition-duration: 0.1s;
  border: var(--main-yellow) solid 2px;
}

.navigation_timeline__level:hover {
  border: white solid 2px;
  padding-left: 20px;
}

.navigation--level_1 {
  background-color:var(--navigation-timeline-level-1);
  padding-left: 10px;
  z-index: 3;
}

.navigation--level_2 {
  margin-left: -13px;
  background-color:var(--navigation-timeline-level-2);
  z-index: 2;
}

.navigation--level_3 {
  margin-left: -13px;
  background-color:var(--navigation-timeline-level-3);
  z-index: 1;
}

.navigation--level_4 {
  margin-left: -13px;
  background-color:var(--navigation-timeline-level-3);
  z-index: 0;
}

.navigation--current_level {
  background-color: var(--blue-gray-darker);
  border: var(--blue-gray-darker) solid 2px;
}

.navigation--current_level:hover {
  border: var(--blue-gray-darker) solid 2px;
  padding-left: 15px;
}

.in-text-link {
  text-decoration: underline;
  color: rgb(96, 172, 202);
  transition-property: color;
  transition-duration: 0.1s;
}

.in-text-link:hover {
  color: var(--main-yellow);
}

.big-link {
  color: var(--main-yellow);
  transition-property: color;
  transition-duration: 0.3s; 
}

.big-link:hover {
  color: var(--main-yellow-darker); 
}

.title {
  /* DISPLAY AND POSITION */
  align-self: center;

  /* DIMENSIONS */
  margin: 25px 0px 0px 0;

  /* COLORS AND OTHER STYLES */
  font-size: 23vw;
  color: var(--main-yellow);
  font-family: var(--title-font);
}

.title--smaller {
  font-size: 17vw;
}

.section-divider {
  /* DISPLAY AND POSITION */
  align-self: center;
  text-align: center;

  /* DIMENSIONS */
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;

  /* COLORS AND OTHER STYLES */
  background-color: var(--main-yellow);
  color: var(--blue-gray);
  font-family: var(--main-font);
  font-weight: 400;
}

.button {
  /* DISPLAY AND POSITION */
  align-self: center;
  justify-self: center;

  /* DIMENSIONS */
  margin-top: 10px;
  padding: 3px 10px;

  /* COLORS AND OTHER STYLES */
  font-family: var(--main-font);
  background-color: var(--main-yellow);
  border-radius: 5px;
  color: var(--blue-gray);
  font-weight: 500;
  transition-property: background-color;
    transition-duration: 0.2s;
}

.button:hover {
  background-color: var(--main-yellow-darker);
}

@media (min-width: 760px) {
  .title {
      font-size: 15vw;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .title {
      font-size: 10vw;
      width: 90%;
  }
  .button--grid {
    grid-column: 1/3;
  }
}

/* BIG DESKTOP */
@media (min-width: 1400px) {
  .title {
      font-size: 5.5vw;
  }
}