/* VARIABLES */

:root {
    /*FONTS*/
    --name-font: 'Fredericka the Great';
    --main-font: 'Montserrat';
    --content-font: 'Roboto';
    --title-font: 'Josefin Sans';

    /*COLORS*/
    --main-yellow: #ead017;
    --main-yellow-darker:#706f38;
    --light-gray: #9D8D8F;
    --light-brown: #9B786F;
    --strong-gray: #5A5560;
    --blue-gray: #212136;
    --blue-gray-darker: #1a1a2e;
    --blue-gray-transparent: #212136f1; 
}

/* BASE STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    min-width: 320px;
}

::-webkit-scrollbar {
  width: 15px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue-gray-darker);
  /* border-radius: 100px; */
  /* margin: 50px 0px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-yellow);
  border: 1px solid var(--blue-gray-darker)
  /* border-radius: 100px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0ac16;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: var(--main-yellow-darker);
}
    
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    min-width: 320px;
    min-height: 100vh;
    

    background-color: var(--blue-gray);
    color: white;
    font-family: 'Roboto';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.in-text-link {
    text-decoration: underline;
    color: rgb(96, 172, 202);
}

/* CLASSES */

.title {
  /* DISPLAY AND POSITION */
  align-self: center;

  /* DIMENSIONS */
  margin: 25px 0px 0px 0;

  /* COLORS AND OTHER STYLES */
  font-size: 23vw;
  color: var(--main-yellow);
  font-family: var(--title-font);
}

.section-divider {
  /* DISPLAY AND POSITION */
  align-self: center;
  text-align: center;

  /* DIMENSIONS */
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;

  /* COLORS AND OTHER STYLES */
  background-color: var(--main-yellow);
  color: var(--blue-gray);
  font-family: var(--main-font);
  font-weight: 400;
}

.button {
  /* DISPLAY AND POSITION */
  align-self: center;
  justify-self: center;

  /* DIMENSIONS */
  margin-top: 10px;
  padding: 3px 10px;

  /* COLORS AND OTHER STYLES */
  font-family: var(--main-font);
  background-color: var(--main-yellow);
  border-radius: 5px;
  color: var(--blue-gray);
  font-weight: 500;
}

.button:hover {
  background-color: var(--main-yellow-darker);
  font-weight: 600;
  padding: 3px 9px;
}

@media (min-width: 760px) {
  .title {
      font-size: 15vw;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .title {
      font-size: 10vw;
      width: 90%;
  }
  .button--grid {
    grid-column: 1/3;
  }
}

/* BIG DESKTOP */
@media (min-width: 1400px) {
  .title {
      font-size: 5.5vw;
  }
}