body {
    background-image: url('../assets/img/medellin-large.jpg');
    background-position: 60% 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* HEADER STYLES */

header {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* DIMENSIONS */
    height: 100vh;
    padding: 60px 0 20px 0;
    margin-bottom: -20px;

    /* COLORS AND OTHER STYLES */
    background-color: var(--blue-gray-transparent);
}

#header--web-banner {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: center;

    /* DIMENSIONS */
    margin: 15px 0px 35px 0;
    
    /* COLORS AND OTHER STYLES */

}

#web-banner--text {
    /* DISPLAY AND POSITION */
    position: relative;
    z-index: 2;

    /* DIMENSIONS */
    margin: 20px 0px 0px 20px;

    /* COLORS AND OTHER STYLES */
    font-weight: bold;
    font-family: var(--main-font);

}

#web-banner--text :last-child {
    margin-top: 10px;
}

#web-banner--image {
    /* DISPLAY AND POSITION */
    position: absolute;
    right: 0%;

    /* DIMENSIONS */
    width: 100%;
    min-width: 320px;

    /* COLORS AND OTHER STYLES */
    opacity: 0.3;
    filter: grayscale(100%);
    fill: contrast(200%);

}

#web-banner--name {
        /* DISPLAY AND POSITION */

        /* DIMENSIONS */
        margin: 10px 0px 0px 0px;
        font-size: 4rem;
        line-height: 26pt;
    
        /* COLORS AND OTHER STYLES */
        font-weight:initial;
        color: var(--main-yellow);
        font-family: var(--main-font);
        font-weight: 700;
}

#header--slogan {
    /* DISPLAY AND POSITION */
    align-self: center;
    /* text-align: justify; */

    /* DIMENSIONS */
    width: 90%;
    font-size: 1.6rem;
    margin-bottom: 10px;

    /* COLORS AND OTHER STYLES */
}

/* MAIN STYLES */

main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
}

main h2 {
    /* DISPLAY AND POSITION */
    text-align: center;
        
    /* DIMENSIONS */
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    
    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-weight: 400;
}

main h3 {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    margin-top: 10px;
    font-size: 1.6rem;
    
    /* COLORS AND OTHER STYLES */
    color: var(--main-yellow);
    font-weight: 500;
}

#main--articles-section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
     
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */

}

.article-sample-container {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
        
    /* DIMENSIONS */
    max-width: 500px;
    margin:auto 20px;
    padding: 20px;
    
    /* COLORS AND OTHER STYLES */
    background-color: var(--blue-gray-transparent);
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

#main--articles-section div a {
    /* DISPLAY AND POSITION */
    align-self: flex-start;
        
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */

}

.article-date {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */
    font-style: italic;
    font-size: 1.4rem;

}

.home-link {
    /* DISPLAY AND POSITION */
    text-align: center;
        
    /* DIMENSIONS */
    margin-top: 10px;
    width: 100%;
    
    /* COLORS AND OTHER STYLES */
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-yellow);
    transition-property: color;
    transition-duration: 0.3s; 
}

.home-link:hover {
    color: var(--main-yellow-darker); 
}

.article-sample {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    margin-top: 10px;
    
    /* COLORS AND OTHER STYLES */
    text-align: justify;
    font-family: var(--content-font);
    
}

#main--portfolio-section div img {
    /* DISPLAY AND POSITION */
    align-items: center;
}

#portfolio-rail {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

    /* DIMENSIONS */
    width: 100%;
    margin: -20px 0px;
    padding: 20px 0px;

    /* COLORS AND OTHER STYLES */
    background-color: var(--blue-gray-transparent);
}

.portfolio-item {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    min-width: 100vw;
    width: 100vw;
    margin: 20px 0px;
}

.portfolio-item > img {
    border-radius: 15px;
}

#main--portfolio-section div p {
    /* DIMENSIONS */
    margin: 10px 0px 0 0;
}

.project-date {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    padding-left: 20px;
    
    /* COLORS AND OTHER STYLES */
    font-size: 1.2rem;
}






/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 450px) {
    #header--web-banner{
        width: 90%;
        align-self: center;
    }

    #web-banner--text {
        font-size: 2rem;
        margin-left: 0px;
    }

    #web-banner--name {
        font-size: 9rem;
        line-height: 60pt;
    }

    #header--slogan {
        font-size: 2rem;
        width: 90%;
        padding-right: 80px;
    }
    #main--articles-section {
        height: 70vh;
    }

    .portfolio-item {
        width: 50vw;
        min-width: 50vw;
    }
    .portfolio-item > img {
        width: 70%;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    #web-banner--text {
        font-size: 3rem;
        margin-left: 0px;
    }

    #web-banner--name {
        font-size: 10.3rem;
        line-height: 85pt;
    }

    #header--slogan {
        font-size: 2rem;
        width: 90%;
        padding-right: 150px;
    }

    .article-title {
        font-size: 3rem;
    }

    .article-sample{
        font-size: 2rem;
    }

    #portfolio-rail {
        overflow-x: hidden;
    }

    .portfolio-item {
        width: 33.33vw;
        min-width: 33.33vw;
    }
}

/* BIG DESKTOP */
@media (min-width: 1400px) {
    #header--web-banner{
        width: 90%;
        align-self: center;
    }
    #web-banner--name {
        font-size: 14.1rem;
        line-height: 100pt;
    }
    #header--slogan {
        font-size: 2.5rem;
        width: 90%;
        padding-right: 300px;
    }
 }