/* LOGO AND NAVIGATION BAR STYLES */

#header--logo-nav-bar {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;

    /* DIMENSIONS */
    width: 100%;

    /* COLORS AND OTHER STYLES */
    background-color: var(--blue-gray);
    /* background-image: url('../assets/img/stars-background.jpg'); */
    background-blend-mode:soft-light;
    
}
 
#logo {
    /* DISPLAY AND POSITION */
    align-self: center;

    /* DIMENSIONS */
    margin: 10px 30px 10px 30px;
}

#nav-bar--menu-button {
    cursor: pointer;
}

#nav-bar--menu-button div {
    display: flex;
    align-items: center;

    /* COLORS AND OTHER STYLES */
    height: 62px;
    font-family: var(--main-font);
    border-left: var(--main-yellow) solid 5px;
    transition-property: font-weight;
    transition-duration: 0.2s;
    cursor: pointer;
}

#nav-bar--menu-button div img {
    margin: 0 10px;
    cursor: pointer;
}

#menu-button {
    /* DIMENSIONS */
    padding: 10px 0 10px 10px;
    font-size: 1.6rem;

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#menu-arrow {
    /* COLORS AND OTHER STYLES */
    filter: invert(1);
    cursor: pointer;
}

.menu--item {
    /* DISPLAY AND POSITION */
    display: none;

    /* DIMENSIONS */
    padding: 10px 0 10px 10px;

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    border-left: var(--main-yellow) solid 1px;
    transition-property: border-left padding-right;
    transition-duration: 0.2s;
}

.menu--not-current:hover {
    /* COLORS AND OTHER STYLES */
    border-left: var(--main-yellow) solid 5px;
}

.menu--current-page {
    /* COLORS AND OTHER STYLES */
    font-weight: bolder;
    border-left: var(--main-yellow) solid 20px;
    
}





/******************************************************/
/* MEDIA QUERIES */
/******************************************************/






/* DESKTOP */
@media (min-width: 1024px) {

    #logo {
        margin-left: 3vw;
    }

    #header--logo-nav-bar {
        justify-content: space-between;
    }

    #nav-bar--menu-button div {
        display: none;
    }
    
    #menu-button {
        display: none;
    }

    #nav-bar--menu-button {
        /* DISPLAY AND POSITION */
        display: flex;
        flex-direction: row;
    }

    .menu--item {
        /* DISPLAY AND POSITION */
        display:inline-block;
    
        /* DIMENSIONS */
        padding: 20px 5vw 20px 20px;
    }

    .menu--not-current:hover {
        /* COLORS AND OTHER STYLES */
        padding-right: calc(5vw - 4px);
    }

}