

/* MAIN STYLES */

main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;

    /* DIMENSIONS */
    width: 100%;
    padding-top: 60px;

    /* COLORS AND OTHER STYLES */
}

main h1 {
    /* DISPLAY AND POSITION */
    align-self: center;

    /* DIMENSIONS */
    margin: 25px 0px 0px 0;

    /* COLORS AND OTHER STYLES */
    font-size: 23vw;
    color: var(--main-yellow);
    font-family: var(--title-font);
}

h2 {
    /* DISPLAY AND POSITION */
    align-self: center;
    text-align: center;

    /* DIMENSIONS */
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;

    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-family: var(--main-font);
}

.portfolio-rail {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

    /* DIMENSIONS */
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;

    /* COLORS AND OTHER STYLES */
}

.portfolio-item {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;

    /* DIMENSIONS */
    min-width: 100vw;
    width: 100vw;
    /* margin: 20px 0px; */
}

.project-name {
    /* DISPLAY AND POSITION */
    text-align: center;

    /* DIMENSIONS */
    margin: 10px 0;

    /* COLORS AND OTHER STYLES */
    color: var(--main-yellow);
    font-family: var(--main-font);
}

.project-date {
    /* DISPLAY AND POSITION */

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    font-style: italic;
}



/******************************************************/
/* MEDIA QUERIES */
/******************************************************/


/* TABLET */
@media (min-width: 450px) {
    main h1 {
        font-size: 15vw;
    }

    .portfolio-item {
        width: 50vw;
        min-width: 50vw;
    }

    .portfolio-item img {
        width: 80%;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    main h1 {
        font-size: 10vw;
        width: 90%;
    }

    .portfolio-rail {
        overflow-x: hidden;
        justify-content: center;
        flex-wrap: wrap;
    }

    .portfolio-item {
        width: 30vw;
        min-width: 30vw;
        margin-top: 20px;
    }

    .portfolio-item img {
        width: 80%;
    }

}

/* BIG DESKTOP */
@media (min-width: 1400px) {

    main h1 {
        font-size: 5.5vw;
    }

   .portfolio-item {
        width: 24vw;
        min-width: 24vw;
    }

}