body {
    background-image: url('../resources/img/medellin-large.jpg');
    background-position: 60% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--blue-gray);
    background-blend-mode:overlay
}

/* HEADER STYLES */

header {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
}

#header--web-banner {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: center;

    /* DIMENSIONS */
    margin: 15px 0px 35px 0;
    
    /* COLORS AND OTHER STYLES */
    /* background-color: var(--blue-gray); */
}

#web-banner--text {
    /* DISPLAY AND POSITION */
    position: relative;
    z-index: 2;

    /* DIMENSIONS */
    margin: 20px 0 0 20px;

    /* COLORS AND OTHER STYLES */
    font-weight: bold;
    font-family: var(--main-font);

}

#web-banner--text :last-child {
    margin-top: 10px;
}

#web-banner--image {
    /* DISPLAY AND POSITION */
    position: absolute;
    right: 0%;

    /* DIMENSIONS */
    width: 100%;
    min-width: 320px;

    /* COLORS AND OTHER STYLES */
    opacity: 0.3;
    filter: grayscale(100%);
    fill: contrast(200%);

}

#web-banner--name {
        /* DISPLAY AND POSITION */

        /* DIMENSIONS */
        margin: 10px 0px 0px 0px;
        font-size: 4rem;
        line-height: 26pt;
    
        /* COLORS AND OTHER STYLES */
        font-weight:initial;
        color: var(--main-yellow);
        font-family: var(--main-font);
        font-weight: 700;
}

#header--slogan {
    /* DISPLAY AND POSITION */
    align-self: center;
    /* text-align: justify; */

    /* DIMENSIONS */
    width: 90%;
    font-size: 1.6rem;

    /* COLORS AND OTHER STYLES */
}

/* MAIN STYLES */

main {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;

    /* DIMENSIONS */

    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
}

main h2 {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    margin: 20px 0px 20px 0px;
    padding: 3px 5px 3px 50px;
    width: 80%;
    
    /* COLORS AND OTHER STYLES */
    font-family: var(--main-font);
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-weight: 400;
}

main h3 {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    margin-top: 10px;
    font-size: 1.6rem;
    
    /* COLORS AND OTHER STYLES */
    color: var(--main-yellow);
    font-weight: 500;
}

#main--articles-section {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
        
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */

}

.article-sample-container {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
        
    /* DIMENSIONS */
    width: 90%;
    margin-bottom:15px;
    padding: 20px;
    
    /* COLORS AND OTHER STYLES */
    background-color: rgba(32, 33, 77, 0.808);
    border-radius: 20px;

}

#main--articles-section div a {
    /* DISPLAY AND POSITION */
    align-self: flex-start;
        
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */

}

.article-date {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    
    /* COLORS AND OTHER STYLES */
    font-style: italic;
    font-size: 1.4rem;

}

.article-title {
    /* DISPLAY AND POSITION */
    text-align: center;
        
    /* DIMENSIONS */
    margin-top: 10px;
    width: 100%;
    
    /* COLORS AND OTHER STYLES */
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-yellow);
    
}

.article-sample {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    margin-top: 10px;
    
    /* COLORS AND OTHER STYLES */
    text-align: justify;
    font-family: var(--content-font);
    
}

#see-journal {
    /* DIMENSIONS */
    margin-left: 20px;
    padding: 3px 10px;
    width: 15.5rem;

    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-weight: 1000;
}

#main--portfolio-section div img {
    /* DISPLAY AND POSITION */
    align-items: center;
}

#portfolio-rail {
    /* DISPLAY AND POSITION */
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

    /* DIMENSIONS */
    width: 100%;

    /* COLORS AND OTHER STYLES */
}

.portfolio-item {
    /* DISPLAY AND POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* DIMENSIONS */
    min-width: 100vw;
    width: 100vw;
    margin: 20px 0px;
}

#main--portfolio-section div p {
    /* DIMENSIONS */
    margin: 10px 0px 0 0;
}

.project-name {
    padding: 10px;
    background-color: rgba(32, 33, 77, 0.808);
    border-radius: 20px;
}

.project-date {
    /* DISPLAY AND POSITION */
        
    /* DIMENSIONS */
    padding-left: 20px;
    
    /* COLORS AND OTHER STYLES */
    font-size: 1.2rem;
}

#see-portfolio {
    /* DIMENSIONS */
    margin-left: 20px;
    padding: 3px 10px;

    /* COLORS AND OTHER STYLES */
    background-color: var(--main-yellow);
    color: var(--blue-gray);
    font-weight: 1000;
}






/******************************************************/
/* MEDIA QUERIES */
/******************************************************/





/* TABLET */
@media (min-width: 760px) {
    #header--web-banner{
        width: 70%;
        align-self: center;
    }

    #web-banner--text {
        margin-left: 0px;
    }

    #web-banner--name {
        font-size: 6.5rem;
        line-height: 45pt;
    }

    #header--slogan {
        width: 70%;
    }

    .article-sample-container {
        width: 50%;
    }

    .portfolio-item {
        width: 50vw;
        min-width: 50vw;
    }
    .portfolio-item > img {
        width: 70%;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    #web-banner--name {
        font-size: 8rem;
        line-height: 60pt;
    }

    #portfolio-rail {
        overflow-x: hidden;
    }

    .portfolio-item {
        width: 33.33vw;
        min-width: 33.33vw;
    }
}

/* BIG DESKTOP */
@media (min-width: 1400px) {
    #header--web-banner{
        width: 50%;
        align-self: center;
    }
    #header--slogan {
        width: 50%;
    }
    .article-sample-container {
        width: 30%;
    }
 }