#remove html file extension https://example.com/page.html
# to https://example.com/page
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#Redirect to subdomain www
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} *!^www*.arnaldocisneros\.com [NC]
RewriteRule (.*) https://www.arnaldocisneros.com/$1 [L,R=301]

#Prevent directory listing
Options -Indexes